In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [ ]:
performance=pd.read_csv('AirSystemTesting.csv')

In [ ]:
performance.head()

   VGT Actuator Position Demand  ...  Suitable
0                         100.0  ...       1.0
1                         100.0  ...       1.0
2                         100.0  ...       1.0
3                         100.0  ...       1.0
4                         100.0  ...       0.0

[5 rows x 22 columns]

In [ ]:
X = performance.iloc[:, :-1].values
y=performance.iloc[:,21].values

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.30)

In [ ]:
from sklearn.ensemble import RandomForestClassifier
classifier = RandomForestClassifier(n_estimators = 7)
classifier.fit(X_train, y_train)

In [ ]:
y_pred = classifier.predict(X_test)
print(y_pred)

In [ ]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
result = confusion_matrix(y_test, y_pred)
print("Confusion Matrix:")
print(result)
result1 = classification_report(y_test, y_pred)
print("Classification Report:",)
print (result1)
result2 = accuracy_score(y_test,y_pred)
print("Accuracy:",result2)